[Unit]
Description=Launch the Flask server for CCSC signups
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/ubuntu/ccsc-signups/.venv/bin/gunicorn -w4 --certfile /etc/letsencrypt/live/ccscne.git-keeper.education/fullchain.pem --keyfile /etc/letsencrypt/live/ccscne.git-keeper.education/privkey.pem --chdir /home/ubuntu/ccsc-signups --bind 0.0.0.0:443 "app:app"

[Install]
WantedBy=multi-user.target
