[Unit]
Description=Launch the Flask server for CCSC signups
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/app/.venv/bin/gunicorn --bind 0.0.0.0 --chdir 
/base_covid_app/server/ server:app

[Install]
WantedBy=multi-user.target
