{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Register an Account on the CCSC git-keeper server</h1>
        <p>
            During the tutorial, you will have an opportunity to play the role of a student in 
            a class that uses git-keeper to obtain the base code for an assignment and submit
            your work. 
        </p>

        <p>
            To participate in the tutorial, you will need an account on our git-keeper server.
            Please fill out your name and email address below. When you click on "Submit,"
            we will create an account for you and email you login credentials.
        </p>
        
        <form method="post">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
            </div>

            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required>
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

<p>
The files for this session can be found in the <a
href="https://github.com/git-keeper/CCSCNE-2024">git-keeper/CCSCNE-2024</a>
Github repo.
</p>
    </div>

{% endblock %}

